body{
  overflow-x: hidden;
}

.wrapper{
  margin: 0 auto;
  width: 1100px;
}

.header{
  padding: 15px;
  position: fixed;
  display: flex;
  background-color: #fff;
  z-index: 10;
  padding: 15px 500%;
  margin: 0 -500%;
}

.fa-glay{
  color: #4e4e4e;
  float: left;
}

.header__contact__btn{
  text-decoration: none;
  color: #fff;
  padding: 14px 12px;
  width: 50px;
  background-color: #74cfae;
  font-size: 12px;
  cursor: pointer;
  margin-left: 980px;
  text-align: center;
  float: right;
}

.header__contact .header__contact__btn:hover{
  color: #333;
  transition: 0.3s;
}

.clearfix::after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.theme{
  text-align: center;
  background-color: #f2f2f2;
  top: 70px;
  padding: 300px 500% 250px 500%;
  margin: 0 -500%;
}

.theme__title{
  font-size: 90px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #74cfae;
  margin-bottom: 20px;
}

.theme__subtitle{
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  color: #c0c0c0;
}

.whatWeCanDo{
  background-color: #74cfae;
  padding: 100px 500% 0 500%;
  margin: 0 -500%;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-align: center;
}

.whatWeCanDo__image{
  float: left;
  margin-left: 100px;
  margin-right: 100px;
}

.whatWeCanDo__title .whatWeCanDo__article{
  float: right;
}

.whatWeCanDo__title{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.whatWeCanDo__article{
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2px;
}

.ourLatestWork{
  padding: 60px 500% 70px 500%;
  background-color: #f2f2f2;
  margin: 0 -500%;
}

.ourLatestWork__title{
  color: #222;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 40px;
  text-align: center;
}

.ourLatestWork__image{
  margin-right: 90px;
  margin-bottom: 80px;
  display: inline-block;
  opacity: 0.7;
  cursor: pointer;
}

.ourLatestWork__image:hover{
  opacity: 1;
  transition: 0.3s;
}

.ourLatestWork__image:nth-of-type(3n){
  margin-right: 0px;
}


.ourSkills__article{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.ourSkills__article__sentence{
  float: left;
  width: 500px;
  margin-left: 180px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.ourSkills__article__btn{
  float: right;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 12px;
  margin-left: 90px;
  margin-right: 180px;
  cursor: pointer;
}

.ourSkills__article__btn:hover{
  transition: 0.3s;
  color: #333;
}

.ourSkills{
  background-color: #4e4e4e;
  padding: 70px 500% 100px 500%;
  margin: 0 -500%;
}

.ourSkills__title{
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 60px;
}

figure{
  float: left;
  margin-left: 160px;
  text-align: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

figure:first-child{
  margin-left: 0;
}

figcaption{
  margin-left: 30px;
  padding-top: 20px;
}

.ourSkills__content .ourSkills__image:first-child{
  margin-left: 30px;
}

.sns__images__btn{
  display: inline-block;
  width: 185px;
  cursor: pointer;
  text-align: center;
  padding: 20px 0;
}

.sns__images__btn:hover{
  background-color: #fff;
}

.sns{
  padding: 200px 0;
  text-align: center;
  background-color: #f2f2f2;
  padding: 200px 500% 200px 500%;
  margin: 0 -500%;
}

.icon-green{
  color: #74cfae;
}

.footer__sentence{
  background-color: #74cfae;
  color: #fff;
  text-align: right;
  padding: 20px 500% 25px 500%;
  margin: 0 -500%;
}
