body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.inner{
  width: 1100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.raleway{
  font-family: 'Raleway', sans-serif;
}

.header{
  position: fixed;
  background-color: #fff;
  z-index: 10;
  padding: 15px 0;
  width: 100%;
}

.fa-glay{
  color: #4e4e4e;
  float: left;
}

.header__contact__btn{
  text-decoration: none;
  color: #fff;
  padding: 14px 12px;
  width: 50px;
  background-color: #74cfae;
  font-size: 12px;
  cursor: pointer;
  float: right;
  transition: 0.3s;
}

.header__contact .header__contact__btn:hover{
  color: #333;
  transition: 0.3s;
}

.clearfix::after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.theme{
  text-align: center;
  background-color: #f2f2f2;
  top: 70px;
  padding: 320px 0 250px 0;
  width: 100%;
}

.theme__title{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.theme__subtitle{
  font-size: 30px;
  color: #c0c0c0;
}

.whatWeCanDo{
  background-color: #74cfae;
  padding-top: 50px;
  color: #fff;
  width: 100%;
}

.whatWeCanDo__inner{
  display: flex;
  padding-left: 50px;
}

.whatWeCanDo__title{
  font-size: 24px;
  margin-top: -50px;
  margin-bottom: 35px;
  text-align: center;
}

.whatWeCanDo__article{
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2px;
}

.whatWeCanDo__contents{
  margin: 0 100px 0 50px;
}

.ourLatestWork{
  padding: 60px 0 70px 0;
  background-color: #f2f2f2;
  width: 100%;
}

.ourLatestWork__title{
  color: #222;
  font-size: 24px;
  margin-bottom: 40px;
}

.ourLatestWork__image{
  margin-right: 90px;
  margin-bottom: 80px;
  display: inline-block;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.ourLatestWork__image:hover{
  opacity: 1;
  transition: 0.3s;
}

.ourLatestWork__image:nth-of-type(3n){
  margin-right: 0px;
}

.ourSkills__article__sentence{
  float: left;
  width: 500px;
  margin-left: 180px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
}

.ourSkills__article__btn{
  float: right;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 12px;
  margin-left: 90px;
  margin-right: 180px;
  cursor: pointer;
  transition: 0.3s;
}

.ourSkills__article__btn:hover{
  transition: 0.3s;
  color: #333;
}

.ourSkills{
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
  width: 100%;
}

.ourSkills__title{
  color: #fff;
  margin-bottom: 60px;
  font-size: 24px;
}

figure{
  display: inline-block;
  margin-left: 160px;
  color: #fff;
}

figure:first-child{
  margin-left: 0;
}

figcaption{
  padding-top: 20px;
}

.sns__images__btn{
  display: inline-block;
  width: 185px;
  cursor: pointer;
  padding: 20px 0;
  transition: 0.3s;
}

.sns__images__btn:hover{
  background-color: #fff;
  transition: 0.3s;
}

.sns{
  padding: 200px 0;
  background-color: #f2f2f2;
  padding: 200px 0 200px 0;
  width: 100%;
}

.icon-green{
  color: #74cfae;
}

.footer{
  width: 100%;
  background-color: #74cfae;
  color: #fff;
  padding: 20px 0 25px 0;
}

.footer__sentence{
  text-align: right;
}

@media screen(min-width:768px) and (max-width:1199px) {

}
